* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary: #f8292a;
  --secondary: #444444;
  --white: #ffffff;
  --black-1: #000000;
  --black-2: #262626;
  --grey-1: #ebebeb;
  --grey-2: #a4a4a4;
  --grey-3: #b1b1b1;
  --blue-1: #e7efff;
  --shadow-light: -7.8px 7.8px 32px 0 rgba(0, 0, 0, 0.09);
  --container: 5rem 15rem;
  --overlay-header: rgba(0, 0, 0, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  font-family: "Raleway", sans-serif !important;
}
