.btn {
  display: flex;
  height: 3rem;
  align-items: center;
  color: white;
  letter-spacing: .1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border: none;
  padding: 0.2rem 1.5rem;
  transition: all .2s;

  &__round {
    border-radius: 20rem;
  }

  &__black-1 { 
    background-color: var(--black-1);
    
  }

  &__black-2 {
    background-color: var(--black-2);

    &:hover{
      cursor: pointer;
      background-color:lighten(#444444, 15%);
    }
  }

  &__primary {
    background-color: var(--primary);

    &:hover{
      cursor: pointer;
      background-color:darken(#f8292a, 15%);
    }
  }

  &__ico {
    margin: 0 1rem;
    width: 2rem;
    height: auto;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translate(0, .2rem)
  }
}