

.headerContainer {
  box-shadow: var(--shadow-light); 
  min-height: 6rem;
  display: flex;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  align-items: center;

  
}

.logo{
  width: 20rem;
  height: auto;
}


.menu{
  flex-grow: 1;
  padding-left: 30rem;
  padding-right: 5rem;
  

  &__list{
    display: flex;
    justify-content: space-evenly;

    &__item{
      list-style: none;
      font-size: 1.7rem;
      font-weight: 500;

      &-link {
        color: inherit;
        text-decoration: none;
      }

      &:hover{
        cursor: pointer;
      }
      
        &__dropdown{
          transition:all ease .2s;
          position: relative;
          list-style: none;
          font-size: 1.7rem;
          font-weight: 500;
          &:hover{cursor: pointer;}
          &:hover > .dropdown{
            visibility: visible;
            opacity: 1;
            transition: opacity .4s linear;
          }
          &--subLevel{
            padding: 0.5rem;
            &:hover > .dropdown{
              //margin: 1.5rem 4rem;
              visibility: visible;
              opacity: 1;
              transition: opacity .4s linear;
            }
          }
        }

      }
      
  }

}

.dropdown{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s linear;
  background-color: var(--white);
  position: absolute;
  //top: 2rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
  padding: 1rem;
  box-shadow: var(--shadow-light);
  
  
  &:hover{
    cursor: pointer;
    }
  
  &__item{
    padding: 0.5em;
    
    &:hover{
      transition:all ease .2s;
      color: var(--white);
      background-color: var(--primary);
    }
  }
}

.userMeta{
  display: flex;
  justify-content: space-around;
  flex: 2 0;
  align-items: center;

  
}

.cart{
  border: none;
  position: relative;
  
  &:hover{
    cursor: pointer;
  }
  

  &__icon{
    width: 5rem;
    height: 5rem; 
    padding: .3rem;
    //margin-right: 1rem;
  }


  &__notification{
      background-color: var(--primary);
      border-radius: 50%;
      width: 1.50rem;
      height: 1.50rem;
      padding: 0 0.4rem;
      font-weight: 600;
      color: var(--white); 
      text-align: center;
      position: absolute;
      left: 3.5rem;
      top: 0.5rem;
  }

}



