@mixin auth() {
	float: left;
	padding: 8px;
	text-decoration: none !important;
}

.header {
	height: 100%;
	border-bottom: 1px solid #e1e3df;
	background-color: white;

	&__container {
		margin-bottom: 1%;
	}

	&__search {
		margin-top: 12px;
		height: 50px;
	}

	&__buttonGroup {
		float: right;
		margin: 0;
		padding-left: 0;
	}
	&__item {
		float: left;
		position: relative;
		list-style: none;
		border: 0 none;
		margin: 0 10px;
		padding: 0;
		font-size: 14px;
	}

	&__sign-in {
		@include auth();
		border: 1px solid;
		border-radius: 4px;
	}

	&__register {
		@include auth();
	}

	&__cart {
		margin-left: 10px;
		float: left;
		padding: 8px;
		font-size: 20px;
		text-decoration: none;

		&__icon {
			margin-left: 5px;
		}
	}
}

.vcenter {
	display: flex;
	align-items: center;
}
