.container {
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;

  &__overlay {
    background-color: var(--overlay-header);
    overflow: hidden;
    min-height: 40rem;
    max-height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-family: inherit;
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);
  padding: 0 8rem;
  &--sub {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--primary);
    padding: 0 8rem;
  }
}
